<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advertise.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @advertise.text %>
</p>

<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<%= link_to 'Back', advertises_path %>
