<div class="container" style="background:#fff;margin-top:40px;margin-bottom:40px;padding-bottom:30px;padding-top:30px;">
<% @inouts.each do |inout| %>
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row">
    <div class="col-md-4">
    </div>
        <div class="col-md-8  col-xs-12">
           <div class="header">
                <h3><%= inout.name %></h3>
           </div>
           <div class="" style="margin-top:50px;padding: 0px;display:inline-block;">
                  <%= link_to '<i class="fa fa-eye "></i> Show'.html_safe, inout ,style: "font-size:12px;color:#fff;margin-left:4px;", class: "btn btn-success" %>
                  <%= link_to '<i class="fa fa-edit (alias)"></i> Edit'.html_safe, edit_inout_path(inout),style: "font-size:12px;color:#fff;margin-left:4px;background:#888;",class: "btn btn-primary" %>
                 <%= link_to ' <i class="fa fa-trash"></i> Destroy'.html_safe, inout, method: :delete, data: { confirm: 'Are you sure?' },style: "font-size:12px;color:#fff;margin-left:4px;background:red;", class: "btn btn-danger" %>
            </div>  
        </div>
    </div> 
</div>
<hr>
<% end %>
<%= link_to 'New Inout', new_inout_path, class: "btn bnt-primary" %>

<br>
</div>

