<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   <div class="control-label"><%= f.label :name %></div>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="form-group">
     <%= f.label :video %>
     <%= f.text_field :video, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => :ckeditor %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.select :logo, options_for_select([["Video", '<i class="fa fa-film"></i>'], ["Image", '<i class="fa fa-picture-o"></i>'], ["Book", '<i class="fa fa-book"></i>'], ["Music", '<i class="fa fa-music"></i>'],  ["Pin", '<i class="fa fa-eyedropper"></i>'],  ["Camera", '<i class="fa fa-camera"></i>']]) %>
  </div>
  <br>
  <div class="form-group">
   <div class="control-label"><%= f.label :tag_list %></div>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :inout_id, "type" %><br>
    <%= f.select :inout_id, Inout.all.map {|e| [e.name, e.id]}%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back', posts_path,class: "btn" %>
  </div>
<% end %>
