<div id="secondary" class="widget-area col-lg-4 " role="complementary">
   <div class="widget-area-wrapper">
      <aside id="search-2" class="widget widget_search">
          <%= form_tag root_path, method: :get, class: "searchform" do %>
               <%= text_field_tag :query, params[:query], class: "field s", placeholder: "Search ..." %>
               <button type="submit" class="btn submit searchsubmit">
                 <i class="fa fa-angle-double-right"></i>
               </button>
          <% end %>
      </aside>
      <!-- START POPULAR POSTS WIDGET -->
      <aside id="ct-popularpost-widget-2" class="widget ct-popularpost-widget">
         <header class="widget-header">
            <h1 class="widget-title">The Lasted Post</h1>
         </header>
         <ul class="popular-posts-widget popular-widget-1705209458">
         <% @last_post.each do |post| %>
            <li class="clearfix">
               <div class="widget-post-small-thumb">
                  <%= link_to post_path(post) do %>
                     <%= image_tag post.image, class: "radius-3px ct-transition wp-post-image",size: "73" %>
                  <% end %>
               </div>
               <!-- widget-post-small-thumb -->
               <h2 class="entry-title">
               <%= link_to truncate(post.name, length: 50), post_path(post) %>
               </h2>
               <span class="entry-date sm-italic-gray">
                     <% if post.created_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(post.created_at)} ago"%> 
                     <% else %> 
                        <%= post.created_at.strftime("%b %d, %Y") %>
                     <% end %>           </span><!-- .entry-date -->
               <div class="entry-content">
                   <%= truncate( raw( sanitize(post.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 80, :omission => "...") %>
               </div>
               <!-- .entry-content -->
            </li>
         <% end %>
         </ul>
      </aside>
      <aside id="text-4" class="widget widget_text">
         <header class="widget-header">
            <h1 class="widget-title">Ads</h1>
         </header>
         <div class="textwidget">
            <div class="ct-google-ads-widget">
            <% @showads.each do |ad| %>
               <%= image_tag ad.text %>
            <% end %>
            </div>
         </div>
      </aside>

   </div>
</div>