<div class="container">
 <div class="row">
    <div id="primary" class="content-area col-lg-8 ">
       <article id="post-33" class="post-33 post type-post status-publish format-image has-post-thumbnail hentry category-post-formats tag-bright tag-colors tag-envato tag-image tag-photography tag-post-formats-2 clearfix" itemscope itemtype="http://schema.org/Article">
          <div id="content" class="site-content post-wrapper" role="main" style="padding: 35px 35px 55px;">
             <span class="ct-meta meta-category">
                # <%= raw @post.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %>
             </span><!-- .meta-category -->
             <span class="ct-meta meta-format clearfix">
                <%= @post.logo.try(:html_safe) %>
             </span> <!-- .post-format-icon -->
             <header class="entry-header clearfix">
                <h1 class="entry-title" itemprop="name"><%= @post.name %></h1>
                <div class="entry-meta clearfix">
                   <span class="ct-meta entry-date updated"><i class="fa fa-calendar"></i>
                    <time class="entry-date" >
                     <% if @post.created_at > Time.now.beginning_of_day %>
                        <%="#{time_ago_in_words(@post.created_at)} ago"%> 
                     <% else %> 
                        <%= @post.created_at.strftime("%b %d, %Y") %>
                     <% end %>
                    </time></a></span><!-- .meta-date -->     
                   <span class="ct-meta meta-views" title="Views">
                   <i class="fa fa-eye"></i><span class="views-count"><%= @post.viewer %> views</span>    </span><!-- /meta-views -->       
                   <!-- .meta-likes -->
                   <span class="ct-meta meta-author">
                   <i class="fa fa-user" title="Author"></i>
                   <span class="ct-by-author">by </span>      <span class="author vcard">
                  <%= @post.user.username %>
                   </span> </span>
                   <!-- .meta-author -->
                   <% if current_user %>
                   <div class="pull-right">
                       <span class="ct-meta meta-author">
                         <span class="fa fa-edit (alias)"></span>      <span class="author vcard">
                         <%= link_to 'Edit', edit_post_path(@post) %> 
                         </span>    
                       </span>
                       <span class="ct-meta meta-author">
                         <span class="fa fa-plus"></span>      <span class="author vcard">
                            <%= link_to 'New', new_post_path %>
                         </span>    
                       </span>
                    </div>
                    <% end %>
                </div>
                <!-- .entry-meta -->
             </header>
             <!-- .entry-header -->
             <div class="entry-thumb" style="margin: 55px -35px 0px;">
                <%= image_tag @post.image, class: "ct-transition wp-post-image", size: "780x442" %>      
             </div>
             <!-- .entry-thumb -->
             <div class="entry-content clearfix" style= "margin-top:30px;">
                <%= @post.description.html_safe %>
             </div>
             <!-- .entry-content -->
          </div>
          <!-- .post-wrapper -->


          <!-- .related-posts-block -->
          <div class="ct-divider">
             <div class="divider-gap">
                <div class="divider-border"></div>
             </div>
             <!-- .divider-gap -->
          </div>
          <!-- .ct-divider -->
          <nav class="navigation post-navigation clearfix" role="navigation">
             <h1 class="screen-reader-text">Post navigation</h1>
             <div class="nav-links clearfix">
                <span class="meta-nav-prev">
                  <%= truncate(@post.previous.name)if @post.previous.present? %>
                  <%= link_to "Previous", @post.previous if @post.previous.present? %>
                </span>
                <span class="meta-nav-next">
                  <%= truncate(@post.next.name)if @post.next.present? %>
                  <%= link_to "Next", @post.next if @post.next.present? %>
                </span> 

             </div>
             <!-- .nav-links -->
          </nav>


          <div class="ct-divider">
             <div class="divider-gap">
                <div class="divider-border"></div>
             </div>
             <!-- .divider-gap -->
          </div>
          <!-- .ct-divider -->
          <div class="entry-comments" itemscope itemtype="http://schema.org/Article">
             <div id="comments" class="comments-area">
                <!-- .comment-list -->
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'globalepc'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  

                <!-- #respond -->
             </div>
             <!-- #comments -->
          </div>
          <!-- .entry-comments -->
       </article>
       <!-- article -->
    </div>
    <!-- #primary -->
      <%= render 'showsidebar' %>
    <!-- .col-lg-4 -->
 </div>
 <!-- .row -->
</div>
<!-- .container -->


